@import "tailwindcss";

@theme {
  --color-on-background: #e0e3e5;
  --color-error-container: #93000a;
  --color-inverse-on-surface: #2d3133;
  --color-surface-container: #1d2022;
  --color-secondary: #d0bcff;
  --color-on-tertiary-fixed-variant: #004f54;
  --color-on-secondary-fixed-variant: #5516be;
  --color-on-primary-fixed-variant: #404756;
  --color-surface-container-low: #191c1e;
  --color-on-primary: #2a303f;
  --color-surface-container-lowest: #0b0f10;
  --color-tertiary: #00dbe7;
  --color-surface-container-high: #272a2c;
  --color-on-tertiary: #00363a;
  --color-primary-fixed-dim: #c0c6d9;
  --color-surface-tint: #c0c6d9;
  --color-on-error-container: #ffdad6;
  --color-tertiary-fixed-dim: #00dbe7;
  --color-secondary-fixed-dim: #d0bcff;
  --color-on-secondary-fixed: #23005c;
  --color-outline: #909096;
  --color-on-error: #690005;
  --color-secondary-container: #571bc1;
  --color-secondary-fixed: #e9ddff;
  --color-background: #050B18;
  --color-primary-container: #050b18;
  --color-inverse-surface: #e0e3e5;
  --color-on-primary-fixed: #151c29;
  --color-on-secondary: #3c0091;
  --color-on-primary-container: #737a8b;
  --color-on-tertiary-container: #00878f;
  --color-inverse-primary: #585e6e;
  --color-surface-container-highest: #323537;
  --color-on-surface-variant: #c6c6cc;
  --color-surface-variant: #323537;
  --color-on-secondary-container: #c4abff;
  --color-tertiary-fixed: #74f5ff;
  --color-error: #ffb4ab;
  --color-primary-fixed: #dce2f5;
  --color-primary: #c0c6d9;
  --color-surface-bright: #363a3b;
  --color-surface: #101415;
  --color-tertiary-container: #000e0f;
  --color-surface-dim: #101415;
  --color-outline-variant: #45474c;
  --color-on-tertiary-fixed: #002022;
  --color-on-surface: #e0e3e5;
  --font-display: "Space Grotesk", sans-serif;

  --font-body: "Manrope", sans-serif;


}

@layer utilities {

  body {
    background-color: #050B18;
    color: #e0e3e5;
  }

  .glass-panel {
    backdrop-filter: blur(20px);
    border: 1px solid rgba(34, 211, 238, 0.1);
    background: rgba(16, 20, 21, 0.6);
  }

  .holographic-glow {
    box-shadow: 0 0 30px rgba(34, 211, 238, 0.15);
  }

  .scan-line {
    background: linear-gradient(to bottom, transparent 50%, rgba(34, 211, 238, 0.05) 50%);
    background-size: 100% 4px;
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }

  .thumbnail-active {
    border-color: #00dbe7 !important;
    box-shadow: 0 0 10px rgba(0, 219, 231, 0.3);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}